################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/node_modules
/obj/Debug
/web.Release.config
/web.Debug.config
/web.config
